<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag :application, :media => :all %>
  <%= javascript_include_tag :application %>
  <title>To Dont List</title>
  <meta name="description" content="a little app using ember and rails">
  <meta name="author" content="mrgeorgegray">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>

<body>

</body>
</html>
