<h2>The List</h2>
<p>Select from the list to read more... or don't. Its up to you, we're certainly not going to tell you what to do on this site.</p>

<h3>Contribute</h3>
<p>Anyone can add, edit and delete to this website, you don't need an account for any of that. Comments are welcomed via Disqus, and yep you guessed it, you don't need an account for that either. All we ask is that you respect the site and don't be a dick.</p>