.itemlist{
  list-style: none;
  padding: 0 0 0.4em;
  margin: 0;
  background: $brand-coolblu;
  @include respond-to(spider) {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 1em;
    z-index: 999;
    width: 25%;
    padding: 5.5em 1em 8em;
    height: 100%;
  }
  li{
    text-align: center;
    margin-bottom: 0.8em;
    padding-top: 0.8em;
    border-top: 1px solid #cccccc;
    &:first-child{
      border-top: none;
    }
    @include respond-to(spider) {
      text-align: left;
    }
    a{
      display: block;
    }
  }
}


section[role="main"]{
  @extend .cf;
  margin:1em 0 3em;
  padding: 0 1em;
  img{
    display: block;
    margin: 0 auto 1em;
  }
  @include respond-to(spider) {
    position: absolute;
    top:5em;
    left: 28%;
    width: 56%;
    margin:2em 0 3em;
    p{
      font-size: 1.4em;
    }
  }
}


.disqus{
  border-top: 6px solid $brand-blu;
  margin: 2em 0;
  padding-top: 1em;
}