<header role="banner">
  <h1>to don't</h1>
</header>

<nav role="primary">
  {{#linkTo "index"}}Home{{/linkTo}}
  {{#linkTo "items.index"}}List{{/linkTo}}
  {{#linkTo "items.new"}}Add{{/linkTo}}
</nav>

{{outlet}}
