<section role="main">
  <h2 class="visuallyhidden">Home Page</h2>
  <p>There's a million websites out there that tell you what to do, this one won't. This site is a collection of just the opposite, things you shouldn't do.</p>

  {{#linkTo "items.index" classNames="btn btn-go btn-home-go"}}See the List{{/linkTo}}

  <h3>Why?</h3>
  <p>Well I'm really excited by the <a href="http://emberjs.com/">Ember</a> framework and needed a side project that was simple to execute. There's loads of really great <a href="http://todomvc.com/">ToDoList</a> examples out there, so I thought it was time to do something different. If your interested feel free to grab the code and have a play around, otherwise please add to the list.</p>
</section>

<ul class="itemlist">
  <li></li>
</ul>